	<!-- Top Navigation (HOME & BACK) button starts here -->
<div class="col-lg-12">
	<a class="btn btn-default topNavButton pull-left" href="#/home">home </a>
	<a class="btn btn-default topNavButton pull-right" 
		href="javascript:window.history.back();"> back</a>
	<div class="clear"></div>
</div>
	<!-- Top Navigation (HOME & BACK) button ends here -->

	<!--Strategic report section starts here -->
<div class="col-lg-12">
		<label> <h4>  strategic report </h4> </label>
		<label ng-model="date"> {{date}} </label>
</div>
	<!--Strategic report section ends here -->

	<!-- chart section starts here -->
<div class="col-lg-8 col-md-offset-3" ng-init="init()" > 
		
		<div id="first"></div>

</div>
	<!-- chart section ends here -->